<!doctype html>
<html lang="en" ng-app="Chronic">
<head>
    <meta charset="utf-8">

    <title>GPS Geschiedenis</title>

    <!-- Our style sheet -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../cordova.js"></script>
    <!-- AngularJS | MIT License | https://angularjs.org/ -->
    <script src="../js/angular/angular.js"></script>
    <script src="../js/angular/ngStorage.min.js"></script>

    <!-- jQuery | MIT License | https://jquery.org/ -->
    <script src="../js/vendor/jquery-2.1.4.js"></script>

    <!-- onsenui v1.3.11 | Apache License | http://onsen.io/ -->
    <script src="../js/vendor/onsenui.min.js"></script>

    <script src="../js/controllers/chronic.js"></script>
    <script src="../js/services/backgroundservice.js"></script>
    <script src="../js/services/dataservice.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/controllers/gpsHistoryController.js"></script>
    <script src="../js/vendor/Chart.min.js"></script>
    <script src="../js/vendor/angular-chart.js"></script>
    <script src="../js/cryptojs/SHA3.js"></script>

    <link rel="stylesheet" href="../css/angular-chart.css">

</head>

<body ng-controller="gpsHistoryController">
<div id="loadingImg" style="display: block;">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<ons-toolbar>
    <div class="left">
        <ons-toolbar-button ng-click="transition();" onclick="location.href='dashboard.html'"><i class="fa fa-chevron-left"></i>

        </ons-toolbar-button>
    </div>
    <div class="right">
        <ons-toolbar-button ng-click="transition();deleteGPSLocations()" onclick="location.href='gpsHistory.html'"><i class="fa fa-trash-o"></i>

        </ons-toolbar-button>
    </div>
</ons-toolbar>

<div class="site__container" style="margin-top: 5%">

    <div ng-repeat="location in gpsList" >
        <ons-list class="list ons-list-inner">
            <ons-list-item class="list__item ons-list-item-inner" style="line-height:25px" ">
            <h6>provider: {{location.provider}} time: {{getTimeDateString(location.time)}}</h6>
            <h6>Lat: {{location.latitude}} Long: {{location.longitude}}</h6>
            <h6>accuracy: {{location.accuracy}} speed: {{location.speed}}</h6>
            <h6>altitude {{location.altitude}}</h6>
            </ons-list-item>
        </ons-list>
    </div>

    <!--<div ng-repeat="location in gpsList" >-->
        <!--<ons-list class="list ons-list-inner">-->
            <!--<ons-list-item class="list__item ons-list-item-inner" style="line-height:25px" ">-->
            <!--<h6>provider: {{location}}</h6>-->
            <!--</ons-list-item>-->
        <!--</ons-list>-->
    <!--</div>-->
</div>
</body>

</html>
